@import 'node_modules/sanitize.css/sanitize';

* {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  &:focus {
    outline: 0;
  }
}
body {
  background: #e6e6e6;
}
// default fonts
h1 {
  font-family: 'Poppins';
  font-weight: '700';
  text-transform: uppercase;
}
h2 {
  font-family: 'Poppins';
  font-size: 26px;
  font-weight: 700;
  margin: 0 0 10px;
  text-transform: uppercase;
  transform-origin: right;
  white-space: nowrap;

  span {
    border-bottom: 1px solid #fff;
    padding: 2px 0;

  }
}
a, p {
  font-family: 'Open sans';
  font-size: 16px;
  font-weight: 300;
  line-height: 1.8;
  margin: 0;
}
